<html>
<head>
<style>
  body {font-family: Verdana, sans-serif;}
  body {background-color: lightsteelblue;}
  h1   {color: black;}
  h2   {color: black;}
  p    {color: black;}
</style>
</head>
<center>
<body>
  <h1>SPACES</h1>
  <div>
  <% @spaces.each do |space| %>
    <h2> <%= space.space_name %> <%= space.description %> <%= space.price_per_night %> <%= space.available_from %> <%= space.available_to %> <br><br> </h2>
    <% end %>
  </div>
</center>
</body>
</html>